<nav class="nav">
        <div class="header">
                            <div class="logo">
                                        二手车平台
                            </div>
                            <div class="content">
                                        <ul>
                                            <li><a href="/">首页</a></li>
                                            <li><a href="/#/search">买车</a></li>
                                            <li><a href="#">卖车</a></li>
                                            <li><a href="#">宝典</a></li>
                                            <li><a href="#">服务保障</a></li>
                                            <li ><a <% if(programa == 'login'){%>  class="cur" <%}%> href="/login">登录</a></li>
                                            <li ><a <% if(programa == 'regist'){%> class="cur" <%}%> href="/regist">注册</a></li>
                                        </ul>
                            </div>
           </div>                                                                            
</nav>